@model IQueryable<_008_增删改查操作_crud_.Models.admin>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("添加","Add","UserInfo")
        <table border="1">
            <tr>
                <th>用户名</th>
                <th>密码</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            @foreach (var admin1 in Model)
            {
                <tr>
                    <td>@admin1.username</td>
                    <td>@admin1.password</td>
                    <td>
                        @Html.ActionLink("修改","Edit","UserInfo",new RouteValueDictionary(new { id=@admin1.username}),null)
                    </td>
                    <td>
                        @Html.ActionLink("删除", "Remove", "UserInfo", new RouteValueDictionary(new { id = @admin1.username }), null)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
